
<div class="nav">
  <button (click)="promptAddColumn()">+ Add Column</button>
  <button color="warn" (click)="resetBoard()">Reset Board</button>
</div>


<div
class="board"
cdkDropList
cdkDropListOrientation="mixed"
[cdkDropListData]="columns"
(cdkDropListDropped)="dropColumn($event)"
>
  <div *ngFor="let col of columns" cdkDrag class="column-wrapper">
    <app-column
      [title]="col.title"
      [tasks]="col.tasks"
      [id]="col.id"
      [connectedDropLists]="getConnectedDropLists(col.id)"
      (editColumn)="editColumn($event)"   
    (deleteColumn)="deleteColumn($event)"
    ></app-column>
  </div>
</div>

