<div class="column" >
  <h2>{{ title }}</h2>

  <div cdkDropList class="tasks example-list" (cdkDropListDropped)="drop($event)" >
    <app-task-card cdkDrag class ="example-box"
  *ngFor="let task of tasks; let i = index"
  [task]="task"
  [index]="i"
  (editTask)="editTask($event)"
  (deleteTask)="deleteTask($event)">
</app-task-card>

  </div>

  <div class="actions">
    <button class="add-btn" (click)="toggleForm()">+ Add Task</button>
  </div>

  <div class="modal-backdrop" *ngIf="showForm">
    <div class="modal">
      <div class="modal-header">
        <h3>{{ editingIndex !== null ? 'Edit Task' : 'Create New Task' }}</h3>
        <button class="close-btn" (click)="toggleForm()">×</button>
      </div>

      <div class="modal-body">
        <app-task-form 
  [existingTask]="editingIndex !== null ? tasks[editingIndex] : null"
  (taskCreated)="saveTask($event)">
</app-task-form>

      </div>
    </div>
  </div>
</div>
